<div class="col-md-10 offset-md-1 index-wrapper">
  <h2><%= @task.title %></h2>
  <p><%= simple_format(@task.description) %></p>
  <div class="col-md-4 offset-md-4">
    <%= link_to "Back", root_path %>
    <%= link_to "Edit", edit_task_path(@task) %>
    <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
