<!DOCTYPE html>
<html>
  <head>
    <title>Do This</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <navbar class="navbar navbar-expand navbar-light bg-light">
      <div class="container">
        <div class="navbar navbar-brand nav-link">
          <%= link_to "Do Th!s", root_path %>
        </div>
        <% if user_signed_in? %>
          <%= link_to "Create Task", new_task_path, class: "navbar-text nav-link" %>
        <% end %>

        <ul class="navbar-nav ml-auto">
          <% if current_user.present? %>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "navbar-link" %></li> |
            <li><%= link_to "Register", new_user_registration_path, class: "navbar-link" %></li>
          <% end %>
        </ul>
      </div>
    </navbar>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
     <%= yield %>
    </div>
  </body>
</html>
